.main
{
    align-items: center;
}

.navbar
{
    box-sizing: border-box;
    padding-top: 1px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    align-items: center;
}

.navbar:hover
{
    background: black;
}

.navbar
{
    display: flex;
}

.container
{
    padding: 5%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.container1
{
    color: white;
    background: black;
}

.container2
{
    background: white;
}

.img
{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}